<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unit Convertor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="home-wrapper">

    <h1 class="main-title">⚡ Unit Converter</h1>
    <p class="sub-title">Select Conversion Type</p>

    <div class="box-container">
        <a href="/length" class="box">📏 Length</a>
        <a href="/weight" class="box">⚖️ Weight</a>
        <a href="/temperature" class="box">🌡️ Temperature</a>
    </div>

</div>

</body>
</html>