<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weight Convertor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="home-wrapper">
    <div class="glass-card">
        <a href="/">Home</a>
        <hr>
        <h2 class="page-title">⚖️ Weight Converter</h2>

        <form action="/weight" method="post">
            Value: <input type="number" step="any" name="value" required><br><br>

            From:
            <select name="from">
                <option value="g">Gram</option>
                <option value="kg">Kilogram</option>
                <option value="mg">Milligram</option>
                <option value="lb">Pound</option>
            </select>

            To:
            <select name="to">
                <option value="g">Gram</option>
                <option value="kg">Kilogram</option>
                <option value="mg">Milligram</option>
                <option value="lb">Pound</option>
            </select>

            <br><br>
            <button type="submit">Convert</button>
        </form>

        <h3 th:text="'Result = ' + ${result}"></h3>
    </div>
</div>
\
</body>
</html>